{% extends 'base.html' %}

{% block metadescription %}
{% endblock %}

{% block title %} Admin {% endblock %}


{% block body %}

<h1>Admin Page</h1>

<div class="container-fluid">
    <a class="btn btn-primary" href="{% url 'website:order_page' %}">Orders</a>

    <div class="container">
        {% for message in messages %}
        <div class="messages" style="font-size: 1.5rem;">
            {{ message }}
        </div>
        {% endfor %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary" type="submit">Upload</button>

        </form>
    </div>

    <div class="container">
        <h2>All Products</h2>

        <div class="row text-center mx-auto">
            {% for product in products %}
            <div class="text-center col-md-4 mx-auto">
                <a href="{% url 'website:orders_by_product' product.id %}">
                    <div class="product card shadow" style="width: 10rem;">
                        <div>
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.image }}">
                        </div>
                        <h4>{{ product.name }}</h4>
                        PRICE: {{ product.price }}<br>
                        STOCK: {{ product.stock }}
                        <div>
                            <a class="btn btn-warning" href="{% url 'website:update' product.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'website:delete' product.id %}">Delete</a>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}