{% extends 'base.html' %}

{% block metadescription %}
{% endblock %}

{% block title %} Register {% endblock %}


{% block body %}

<div class="register-form">

    <form action="" method="POST">
        <div class="heading">
            <h2>Register</h2>
        </div>
        {% for message in messages %}
        <div class="messages">
            <h4 style="color: red; font-size: 1.5rem;">{{ message }}</h4>
        </div>
        {% endfor %}
        {% csrf_token %}

        {{ form.as_p }}
        
        <br>
        <div class="d-grid">
            <button class="btn btn-primary" type="submit">SignUp</button>
        </div>
    </form>

</div>

{% endblock %}
